<footer>
    <p>&copy; 2025 Questline. All rights reserved.</p>
    <p>Follow us on:
        <a href="https://twitter.com" target="_blank">Twitter</a> |
        <a href="https://facebook.com" target="_blank">Facebook</a>
    </p>
</footer>
